/** Color Library **/
/** Shadow Library **/
/** Loader **/
/** Header **/
/** Restaurants **/
/** Loader **/
@keyframes loader-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.page-loader {
  width: 100%;
  animation: loader-animation 10ms ease-out 3000ms forwards;
}

.loader {
  z-index: 9999;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 30%;
  left: 25%;
  padding: 2%;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.loader .loader-content {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: animation-loader-spin 3s;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 8px solid transparent;
  border-right-color: #99E2D0;
  border-radius: 50%;
}

.loader:before, .loader:after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.loader:before {
  display: block;
  background-image: url(../images/page-loader/top.png);
  height: 35%;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-name: loader-animation-pot;
}

.loader:after {
  display: block;
  background-image: url(../images/page-loader/bottom.png);
  height: 65%;
}

@keyframes loader-animation-pot {
  0% {
    transform: rotate(0);
  }
  45% {
    transform: translate3d(-4%, -13%, 0) rotate(-13deg);
  }
  55% {
    transform: translate3d(1%, -2%, 0) rotate(6deg);
  }
  65% {
    transform: translate3d(-2%, -4%, 0) rotate(-3deg);
  }
  75% {
    transform: translate3d(2%, 3%, 0) rotate(3deg);
  }
  80% {
    transform: translate3d(-2%, 1%, 0) rotate(-2deg);
  }
  to {
    transform: none;
  }
}
@keyframes animation-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/** Header **/
.explore-btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.chose-btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.chose-btn:hover i {
  color: #9356DC;
}

/** Restaurants **/
.new-badge {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #488073;
  }
  49% {
    color: #488073;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #488073;
  }
}
.restaurant-fav:hover .far {
  font-weight: 600;
  color: #FF79DA;
  transition-duration: 0.25s;
  cursor: pointer;
}

.restaurant-box:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

/** Color Library **/
/** Shadow Library **/
/** Loader **/
/** Header **/
/** Restaurants **/
/** Phone **/
@media screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait) {
  .dish-item-price {
    margin-left: 10%;
  }
}
@media screen and (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  body {
    max-width: 812px;
  }

  .header-logo {
    width: 80%;
    margin-left: 30%;
  }

  .header-sub-title p {
    margin-left: 4%;
  }

  .location-city {
    flex-direction: row;
  }

  .gps-logo {
    margin-left: 12%;
    transform: translateY(6px);
  }

  .fonctionnement-title h2 {
    margin-left: 2%;
  }

  .rond-logo {
    margin-left: 4%;
  }

  .dish-item-price {
    margin-left: 42%;
  }

  .dishes:hover .dish-item-infos p {
    display: flex;
    overflow: visible;
    width: 250px;
  }

  .dishes {
    overflow: visible;
  }

  .footer-title {
    transform: translateY(50px);
  }

  .footer-content {
    margin-left: 50%;
    transform: translateY(-10px);
  }
}
@media screen and (min-width: 668px) and (max-width: 736px) and (max-height: 414px) and (orientation: landscape) {
  body {
    max-width: 812px;
  }

  .header-logo {
    width: 80%;
    margin-left: 38%;
  }

  .header-sub-title p {
    margin-left: 10%;
  }

  .location-city {
    flex-direction: row;
  }

  .gps-logo {
    margin-left: 12%;
    transform: translateY(6px);
  }

  .fonctionnement-title h2 {
    margin-left: 2%;
  }

  .rond-logo {
    margin-left: 4%;
  }

  .dishes .dish-item .dish-item-price {
    margin-left: 47%;
  }

  .dishes:hover .dish-item-infos p {
    display: flex;
    overflow: visible;
    width: 250px;
  }

  .dishes {
    overflow: visible;
  }

  .footer-title {
    transform: translateY(50px);
  }

  .footer-content {
    margin-left: 50%;
    transform: translateY(-10px);
  }
}
@media screen and (min-width: 736px) and (max-width: 812px) and (max-height: 375px) and (orientation: landscape) {
  body {
    max-width: 812px;
  }

  .header-logo {
    width: 80%;
    margin-left: 45%;
  }

  .gps-logo {
    margin-left: 15%;
    transform: translateY(8px);
  }

  .header-sub-title p {
    margin-left: 13%;
  }

  .fonctionnement-title h2 {
    margin-left: 3%;
  }

  .rond-logo {
    margin-left: 5%;
  }

  .dishes .dish-item .dish-item-price {
    margin-left: 54%;
  }

  .footer-title {
    transform: translateY(50px);
  }

  .footer-content {
    margin-left: 50%;
    transform: translateY(-10px);
  }
}
/** Tablet **/
@media screen and (min-width: 768px) and (max-width: 1199px) and (max-height: 1024px) and (orientation: portrait) {
  .header-logo {
    width: 80%;
    margin-left: 40%;
  }

  .location-city {
    margin-right: 4%;
  }

  .gps-logo {
    margin-left: 10%;
    transform: translateY(8px);
  }

  .header-sub-title p {
    margin-left: 11%;
  }

  .fonctionnement-title h2 {
    margin-left: 5%;
  }

  .rond-logo {
    margin-left: 5%;
  }

  .dishes .dish-item .dish-item-price {
    margin-left: 51%;
  }

  .footer-title {
    transform: translateY(50px);
  }

  .footer-content {
    margin-left: 50%;
    transform: translateY(-10px);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-height: 768px) and (orientation: landscape) {
  .header-logo {
    width: 80%;
    margin-left: 70%;
  }

  .location {
    max-height: 10px;
  }

  .location-city {
    margin-right: 4%;
    transform: translateY(-15px);
  }

  .gps-logo {
    margin-left: 16%;
  }

  .header-sub-title p {
    margin-left: 20%;
  }

  nav {
    max-height: 280px;
  }

  #fonctionnement {
    max-height: 100px;
  }

  .fonctionnement-title h2 {
    transform: translateY(-45px);
  }

  .chose-btn {
    display: flex;
    flex-direction: row;
    max-width: 300px;
  }

  .chose-btn-1 {
    margin-right: 65%;
  }

  .chose-btn-2 {
    transform: translateY(-95px);
    margin-left: 28%;
  }
  .chose-btn-2 .rond-logo {
    margin-left: 5%;
  }

  .chose-btn-3 {
    transform: translateY(-172px);
    margin-left: 64%;
  }
  .chose-btn-3 .rond-logo {
    margin-right: 1%;
  }

  .restaurant-picture {
    max-width: 100%;
  }

  .restaurant-box {
    max-width: 40%;
  }

  .restaurant-box-2 {
    position: absolute;
    transform: translate(500px, -320px);
  }

  .restaurant-box-4 {
    position: absolute;
    transform: translate(500px, -320px);
  }

  .new-badge {
    display: block;
    position: absolute;
  }

  .footer-title {
    transform: translateY(50px);
  }

  .footer-content {
    margin-left: 50%;
    transform: translateY(-10px);
  }
}
/** Laptop **/
@media only screen and (min-width: 1200px) {
  /* Styles here */
}
/** Desktop **/
@media only screen and (min-width: 1600px) {
  /* Styles here */
}
/** Color Library **/
/** Shadow Library **/
/** Loader **/
/** Header **/
/** Restaurants **/
/** Color Library **/
/** Shadow Library **/
/** Loader **/
/** Header **/
/** Restaurants **/
/** Loader **/
@keyframes loader-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.page-loader {
  width: 100%;
  animation: loader-animation 10ms ease-out 3000ms forwards;
}

.loader {
  z-index: 9999;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 30%;
  left: 25%;
  padding: 2%;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.loader .loader-content {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: animation-loader-spin 3s;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 8px solid transparent;
  border-right-color: #99E2D0;
  border-radius: 50%;
}

.loader:before, .loader:after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.loader:before {
  display: block;
  background-image: url(../images/page-loader/top.png);
  height: 35%;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-name: loader-animation-pot;
}

.loader:after {
  display: block;
  background-image: url(../images/page-loader/bottom.png);
  height: 65%;
}

@keyframes loader-animation-pot {
  0% {
    transform: rotate(0);
  }
  45% {
    transform: translate3d(-4%, -13%, 0) rotate(-13deg);
  }
  55% {
    transform: translate3d(1%, -2%, 0) rotate(6deg);
  }
  65% {
    transform: translate3d(-2%, -4%, 0) rotate(-3deg);
  }
  75% {
    transform: translate3d(2%, 3%, 0) rotate(3deg);
  }
  80% {
    transform: translate3d(-2%, 1%, 0) rotate(-2deg);
  }
  to {
    transform: none;
  }
}
@keyframes animation-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/** Header **/
.explore-btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.chose-btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.chose-btn:hover i {
  color: #9356DC;
}

/** Restaurants **/
.new-badge {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #488073;
  }
  49% {
    color: #488073;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #488073;
  }
}
.restaurant-fav:hover .far {
  font-weight: 600;
  color: #FF79DA;
  transition-duration: 0.25s;
  cursor: pointer;
}

.restaurant-box:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.return-btn {
  position: absolute;
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.restaurant-background {
  max-width: 100%;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.restaurant-header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
}

.menu-container {
  margin-top: -4rem;
  padding-bottom: 15px;
  border-radius: 2rem 2rem 0 0;
  background-color: #F3F3F3;
  z-index: 1;
  position: relative;
}

.menu-header {
  padding: 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-header h1 {
  font-size: 180%;
}

/* Menus */
.menu-content-title {
  margin-left: 20px;
}
.menu-content-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
}

.dishes {
  background-color: #fff;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 3px 0px;
  height: 50px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.dishes .dish-item {
  display: flex;
  cursor: pointer;
}

/* Price block */
.dishes .dish-item .dish-item-price {
  display: flex;
  align-items: center;
  transform: translateX(70px);
  transition: all 0.2s;
}

.content-title {
  font-weight: 600;
  font-size: medium;
}

.content-description {
  margin-bottom: 5px;
  font-size: small;
}

.dish-item-infos p {
  width: 230px;
  display: block;
  white-space: nowrap;
}

.dishes:hover .dish-item .dish-item-price {
  transform: translateX(0);
}

.hide-check {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #99E2D0;
  color: #fff;
  margin-left: 20px;
  width: 64px;
  transform: translateY(-5px);
  transition: transform 0.5s;
}
.hide-check i {
  font-size: large;
  margin-right: 10px;
  transform: rotate(180deg);
}

.content-price {
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: 600;
}

.dishes:hover .hide-check i {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.dishes:hover .dish-item-infos p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**  order btn **/
.order-btn span {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 22%;
  width: 50%;
  padding: 12px;
  border-radius: 30px;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.order-btn span:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.starter-plate {
  animation: dish-animated 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main-plate {
  animation: dish-animated 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dessert-plate {
  animation: dish-animated 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes dish-animated {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.menu-fav:hover .far {
  font-weight: 600;
  color: #FF79DA;
  transition-duration: 0.25s;
  cursor: pointer;
}

.burger {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  cursor: pointer;
}
.burger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
  opacity: 1;
}
.burger span:nth-of-type(1) {
  top: 6px;
}
.burger span:nth-of-type(2) {
  top: 12px;
}
.burger span:nth-of-type(3) {
  top: 18px;
}
.burger:hover span:nth-of-type(1), .burger:hover span:nth-of-type(3) {
  top: 12px;
}
.burger:hover span:nth-of-type(1) {
  transform: translate(0px) rotate(-40deg) translateY(-9.5px);
}
.burger:hover span:nth-of-type(2) {
  opacity: 1;
}
.burger:hover span:nth-of-type(3) {
  transform: translate(0px) rotate(40deg) translateY(9.5px);
}

/** Body **/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}

h1 {
  font-family: "shrikhand", "sans-serif";
}

body {
  min-width: 100%;
  background-color: #fff;
}

/** Header **/
.logo {
  display: flex;
  position: relative;
  max-width: 100%;
  padding: 16px;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
.logo .header-logo {
  width: 50%;
  padding-left: 27%;
}

.header-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-title .header-main-title {
  font-weight: bold;
  margin: 5% 15% 0% 15%;
}
.header-title .header-sub-title {
  display: flex;
  text-align: center;
  color: #7e7e7e;
  margin: 5% 10% 5% 10%;
}

/** Nav **/
nav {
  background-color: #FAFAFA;
  padding-bottom: 10%;
}

.location {
  background-color: #F3F3F3;
  padding-bottom: 5%;
}
.location p {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.location .gps-logo i {
  margin-left: 30%;
  transform: translateY(25px);
}

.explore-btn {
  display: flex;
  justify-content: center;
  margin-left: 22%;
  width: 50%;
  padding: 12px;
  border-radius: 30px;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.explore-btn span {
  color: #fff;
}

/** Fonctionnement **/
.fonctionnement-title {
  margin: 10% 0% 0% 5%;
}

.rond-logo {
  display: flex;
  position: absolute;
  background: #9356DC;
  border-radius: 100%;
  width: 25px;
  left: 25px;
  margin-top: 15px;
}
.rond-logo span {
  font-weight: bold;
  color: #fff;
  padding-left: 7px;
  margin: 2px 0px 2px 0px;
}

.fonction-list .fas {
  display: flex;
  flex-flow: row;
  color: #7e7e7e;
}
.fonction-list .fas p {
  color: black;
  margin-left: 20px;
}

.fa-mobile-alt {
  transform: translateX(8px);
}

.chose-btn {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 20px;
  width: 80%;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
.chose-btn .btn-content {
  max-width: 80%;
  font-weight: normal;
  font-size: 90%;
  margin: 20px 40px 20px 40px;
}

/** Restaurants **/
#restaurants {
  display: flex;
  flex-flow: column;
  background-color: #F6F6F6;
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}
#restaurants h2 {
  margin-bottom: 5%;
}

.restaurant-box {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 5%;
  padding-bottom: 2%;
}
.restaurant-box .restaurant-fav {
  position: absolute;
  color: black;
  margin-left: 80%;
  font-size: x-large;
  transform: translateY(-100%);
}

.restaurant-box-header {
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

.restaurant-box-header img.restaurant-picture {
  width: 100%;
  display: block;
}

.restaurant-content h3, p {
  margin-top: 2%;
  margin-left: 2%;
}

.new-badge {
  position: absolute;
  text-align: center;
  font-weight: 600;
  padding: 2px;
  background-color: #99E2D0;
  color: #488073;
  width: 21%;
  margin-left: 65%;
  border-radius: 2px;
  margin-top: 5%;
}

/** Footer **/
footer {
  background-color: #353535;
}

footer h1 {
  color: white;
  font-size: 20px;
  padding-left: 10%;
}

.footer-content i {
  color: white;
  padding-right: 3%;
}

.footer-content li {
  padding-left: 10%;
  padding-bottom: 2%;
}

.footer-content a {
  color: white;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-1 {
  margin-left: 7px;
}

/*# sourceMappingURL=style.css.map */
