@import './_variables.scss';

/** Loader **/

@keyframes loader-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.page-loader {
    width: 100%;
    animation: loader-animation 10ms ease-out 3000ms forwards;
}

.loader {
    z-index: 9999;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 30%;
    left: 25%;
    padding: 2%;
    background: $color-white;
    border-radius: 100%;
    @include box-shadow(#{0 2px 20px rgba(0, 0, 0, 0.2)});
}

.loader .loader-content {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: animation-loader-spin 3s;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include loader-border;
}

.loader:before, .loader:after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.loader:before {
    display: block;
    background-image: url(../images/page-loader/top.png);
    height: 35%;
    animation-duration: 2s;
    animation-fill-mode: none;
    animation-name: loader-animation-pot;
}

.loader:after {
    display: block;
    background-image: url(../images/page-loader/bottom.png);
    height: 65%;
}

@keyframes loader-animation-pot {
    0% {
    transform: rotate(0);
    }
    45% {
    transform: translate3d(-4%, -13%, 0) rotate(-13deg);
    }
    55% {
    transform: translate3d(1%, -2%, 0) rotate(6deg);
    }
    65% {
    transform: translate3d(-2%, -4%, 0) rotate(-3deg);
    }
    75% {
    transform: translate3d(2%, 3%, 0) rotate(3deg);
    }
    80% {
    transform: translate3d(-2%, 1%, 0) rotate(-2deg);
    }
    to {
    transform: none;
    }
}

@keyframes animation-loader-spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(359deg);
    }
}

/** Header **/

.explore-btn:hover {
        box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
}



.chose-btn:hover {
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
    cursor: pointer;
    i {
        color: $color-primary;
    }
}




/** Restaurants **/

.new-badge{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #488073;    }
    49%{    color: #488073; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #488073;    }
}


.restaurant-fav:hover{
    .far {
        font-weight: 600;
        color: $color-secondary;
        transition-duration: .25s;
        cursor: pointer;
    }
}

.restaurant-box:hover {
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
    transition: 0.2s;
}