/** Phone **/
@media screen and (min-width : 667px) and (min-height : 300px ) and (max-height : 768px) and (orientation: landscape) {

   footer {
      display: flex;
      justify-content: center;
      height: 100px;
      .footer-title {
         display: flex;
         margin-top: 35px;
         margin-right: 50px;
         float: left;
         transform: translateY(-10px);
      }
      .footer-content {
         position: relative;
         margin-left: 50%;
         transform: translateY(10px);
      }
   }
}

/** Tablet **/

@media screen and (min-width : 768px) and (max-width : 1200px) and (max-height : 1024px) and (orientation : portrait){

   footer {
      display: flex;
      justify-content: center;
      height: 100px;
      .footer-title {
         display: flex;
         margin-top: 35px;
         margin-right: 50px;
         float: left;
         transform: translateY(-10px);
      }
      .footer-content {
         position: relative;
         margin-left: 50%;
         transform: translateY(10px);
      }
   }
}

/** Tablet (Landscape) **/ 

@media screen and (min-width: 1024px) and (min-height: 768px)  and (max-height : 1366px) and (orientation: landscape) {
   
   body {
      width: 1024px;
   }

   #fonctionnement {
      display: flex;
      justify-content: center;
      height: 150px;
      .fonctionnement-title {
         display: flex;
         position: absolute;
      }
      .fonction-list {
         display: flex;
         margin-top: 70px;
         .chose-btn-1, .chose-btn-2, .chose-btn-3 {
            display: block;
            width: 345px;
            .btn-content {
               display: block;
               p {
                  text-align: center;
                  width: 200px;
               }
            }
         }
      }
   }

   #restaurants {
      display: flex;
      
      .restaurants-section {
         display: flex;
         flex-wrap: wrap;
         max-width: 1000px;
         justify-content: center;
         .restaurants-title {
            display: flex;
            position: absolute;
         }
         .restaurant-box {
            position: relative;
            width: 400px;
            margin-top: 70px;
            margin-right: 20px;
            margin-left: 20px;
         }
      }
   }

   footer {
      display: flex;
      justify-content: center;
      height: 100px;
      .footer-title {
         display: flex;
         margin-top: 35px;
         margin-right: 50px;
         float: left;
         transform: translateY(-10px);
      }
      .footer-content {
         position: relative;
         margin-left: 50%;
         transform: translateY(10px);
      }
   }
}







/** Desktop **/

@media screen and (min-width : 1366px) and (min-height : 768px) {

* {
   max-width: 100%;
}

   #fonctionnement {
      display: flex;
      justify-content: center;
      height: 150px;
      .fonctionnement-title {
         display: flex;
         position: absolute;
      }
      .fonction-list {
         display: flex;
         margin-top: 70px;
         .chose-btn-1, .chose-btn-2, .chose-btn-3 {
            display: block;
            width: 345px;
            
            .btn-content {
               display: block;
               p {
                  text-align: center;
                  width: 200px;
               }
            }
         }
      }
   }

   #restaurants {
      display: flex;
      .restaurants-section {
         display: flex;
         flex-wrap: wrap;
         max-width: 1000px;
         justify-content: center;
         .restaurants-title {
            display: flex;
            position: absolute;
         }
         .restaurant-box {
            position: relative;
            width: 400px;
            margin-top: 70px;
            margin-right: 20px;
            margin-left: 20px;
         }
      }
   }

   .menu-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 1420px;
      height: 600px;
      margin: auto;
      .menu-fav {
         transform: translateX(1000px);
      }
   }
   .menu-content {
      display: flex;
      width: 100%;
      .dishes {
         margin: 10px;
         transform: translateX(-120px);
      }
      .starter-plate ,.main-plate ,.dessert-plate {
         width: 390px;
         margin: auto;
         margin-left: 30px;
         margin-right: 10px;
      }
   }

   .order-btn {
      display: block;
      position: absolute;
      margin-top: 350px;
      transform: translateX(640px);
   }

   footer {
      display: flex;
      justify-content: center;
      height: 100px;
      .footer-title {
         display: flex;
         margin-top: 35px;
         margin-right: 50px;
         float: left;
         transform: translateY(-10px);
      }
      .footer-content {
         position: relative;
         margin-left: 50%;
         transform: translateY(10px);
      }
   }
}