.starter-plate {
  animation: dish-animated 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main-plate {
  animation: dish-animated 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.dessert-plate {
  animation: dish-animated 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes dish-animated {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.menu-fav:hover {
    .far {
        font-weight: 600;
        color: $color-secondary;
        transition-duration: .25s;
        cursor: pointer;
    }
}

.burger {
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
    
    span {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #000;
      transition: all .3s ease;
      opacity: 1;
      
      &:nth-of-type(1) {
        top: 6px;
      }
      &:nth-of-type(2) {
        top: 12px;
      }
      &:nth-of-type(3) {
        top: 18px;
      }
    }
    
    &:hover {
      span {
        &:nth-of-type(1),
        &:nth-of-type(3) {
          top: 12px;
        }
        &:nth-of-type(1) {
           transform: translate(0px) rotate(-40deg) translateY(-9.5px);
  
        }
        &:nth-of-type(2) {
          opacity: 1;
        }
        &:nth-of-type(3) {
           transform: translate(0px) rotate(40deg) translateY(9.5px);
  
        }
      }
    }
  }

