@import './_animation.scss';
@import './_variables.scss';
@import './responsive.scss';
@import './restaurants.scss';

/** Body **/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    color: inherit; 
}

h1 {
    font-family: 'shrikhand','sans-serif';
}

body {
    min-width: 100%;
    background-color: $color-white;
}


/** Header **/

.logo {
    display: flex;
    position: relative;
    max-width: 100%;
    padding: 16px;
    @include box-shadow(#{0 0 0.5rem rgb(0 0 0 / 25%)});
    .header-logo {
        width: 50%;
        padding-left: 27%;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    .header-main-title {
        font-weight: bold;
        margin: 5% 15% 0% 15%;
    }
    .header-sub-title{
        display: flex;
        text-align: center;
        color: $color-fas;
        margin: 5% 10% 5% 10%;
    }
}


/** Nav **/

nav {
    background-color: $color-grey;
    padding-bottom: 15%;
}

.location {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 16px 16px;
    background-color: $color-accent;
        p {
        font-weight: bold;
        padding-top: 5%;
        }
        .gps-logo{
            padding-right: 5%;
            padding-top: 1.5%;
        }
}

.explore-btn {
    display: flex;
    justify-content: center;
    @include explore-btn;
    @include box-shadow (#{4px 4px 10px rgb(0 0 0 / 25%)});
    span {
        color:$color-white;
    }
}

/** Fonctionnement **/

.fonctionnement-title {
    margin: 10% 0% 0% 5%;
}

.rond-logo {
    display: flex;
    position: absolute;
    background: $color-primary;
    border-radius: 100%;
    width: 25px;
    left: 25px;
    margin-top: 15px;
    span {
        font-weight: bold;
        color: $color-white;
        padding-left: 7px;
        margin: 2px 0px 2px 0px;
    }
}

.fonction-list .fas {
    display: flex;
    flex-flow: row;
    color: $color-fas;
    p {
        color: black;
        margin-left: 20px;
    }
}

.chose-btn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    @include fonctionnement-btn;
    .btn-content {
        max-width: 80%;
        font-weight: normal;
        font-size: 90%;
        margin: 20px 40px 20px 40px;
    }
}

/** Restaurants **/

#restaurants {
    display: flex;
    flex-flow: column;
    background-color: $color-restaurants;
    margin-top: 20%;
}

.restaurant-content {
    display: flex;
    flex-flow: column;
    margin-left: 2%;
    position: relative;
}

.restaurants-title {
    font-weight: bold;
    margin-left: 5%;
    padding-top: 10%;
}

.content-title {
    margin-top: 5%;
}

.restaurant-location {
    margin-bottom: 5%
}

.restaurant-box {
    @include rest-box;
    .restaurant-picture {
        @include rest-pic;
    }
    .new-badge {
        @include rest-new
    }
    .restaurant-fav {
        @include rest-fav;
    }
}

/** Footer **/

footer {
    background-color: $color-footer;
}

footer h1 {
    color: white;
    font-size: 20px;
    padding-left: 10%;
}

.footer-content i {
    color: white;
    padding-right: 3%;
}

.footer-content li {
    padding-left: 10%;
    padding-bottom: 2%;
}

.footer-content a {
    color: white;
    text-decoration: none;
}