@import './_animation.scss';
@import './_variables.scss';
@import './_responsive.scss';
@import './_restaurants.scss';
@import './_rest-animation.scss';

/** Body **/

a {
    color: inherit; 
}

h1 {
    font-family: 'shrikhand','sans-serif';
}

body {
    background-color: $color-white;
}

/** Header **/

.logo {
    display: flex;
    position: relative;
    max-width: 100%;
    justify-content: center;
    padding: 18px;
    @include box-shadow(#{0 0 0.5rem rgb(0 0 0 / 25%)});
    .header-logo {
        width: 200px;
    }
}

nav {
    background-color: $color-grey;
    max-width: 100%;
    padding-bottom: 40px;
    .location {
    display: flex;
    background-color: $color-accent;
    padding-bottom: 12px;
    max-width: 100%;
    justify-content: center;
        p {
            font-weight: bold;
            padding-top: 20px;
        }
        .gps-logo i{
            font-size: medium;
            margin-right: 10px;
            padding-top: 20px;
        }
    }
    .header-title {
        text-align: center;
        margin-top: 40px;
        .header-main-title {
            font-weight: bold;
        }
        .header-sub-title{
            color: $color-fas;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .explore-btn {
        display: block;
        position: relative;
        text-align: center;
        z-index: 2;
        cursor: pointer;
        margin: auto;
        padding: 12px;
        margin-top: 40px;
        border-radius: 30px;
        max-width: 200px;
        background: $color-explore-btn;
        color:  $color-white;
    }
}


/** Fonctionnement **/

#fonctionnement {
    max-width: 100%;
    .fonctionnement-title {
        margin: 40px;
    }
    .fonction-list {
        max-width: 100%;
        .chose-btn {
            @include fonctionnement-btn;
            .btn-content {
                font-size: medium;
                padding: 15px;
                p {
                    position: absolute;
                    font-weight: 600;
                    color: black;
                    margin-left: 40px;
                    transform: translateY(-18px);
                }
                .fas {
                    position: relative;
                    margin-left: 15px;
                    color: $color-fas;
                    transform: translateX(-15px);
                }
            }
            .rond-logo {
                background: $color-primary;
                border-radius: 100%;
                width: 20px;
                height: 20px;
                left: 25px;
                float: left;
                margin-top: 15px;
                transform: translateX(-10px);
                span {
                    font-weight: bold;
                    color: $color-white;
                    margin-left: 5px;
                }
            }
        }
    }
}

/** Restaurants **/

#restaurants {
    justify-content: center;
    background-color: $color-restaurants;
    margin-top: 40px;
    padding: 20px;
    .restaurants-section {
        .restaurants-title {
            margin-bottom: 30px;
        }
        .restaurant-box {
            background-color: $color-white;
            border-radius: 15px;
            margin-bottom: 40px;
            padding-bottom: 10px;
            @include rest-fav;
            .restaurant-box-header {
                max-height: 200px;
                overflow: hidden;
                border-radius: 15px 15px 0px 0px;
                img.restaurant-picture {
                    width: 100%;
                }
            }
            .restaurant-content h3, p {
                margin-top: 10px;
                margin-left: 10px;
            }
            .new-badge {
                display: flex;
                font-weight: 600;
                background-color: #99E2D0;
                color: #488073;
                border-radius: 2px;
                transform: translateY(-240px);
                float: right;
                margin-right: 8px;
                padding-right: 5px;
                p{
                    margin-bottom: 6px;
                }
            }
        }
    }
}


/** Footer **/

footer {
    min-width: 100%;
    background-color: $color-footer;
    .footer-title h1 {
        color: $color-white; 
        font-size: xx-large;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        padding-bottom: 10px;
        i {
            color: white;
            margin-right: 10px;
        }
        a {
            color: white;
        }
        .footer-1 {
            margin-left: 7px;
        } 
    }
}
