@import './_animation.scss';
@import './_variables.scss';
@import './_responsive.scss';
@import './_restaurants.scss';
@import './_rest-animation.scss';

/** Body **/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

li {
    list-style-type: none;
}

a {
    color: inherit; 
}

h1 {
    font-family: 'shrikhand','sans-serif';
}

body {
    min-width: 100%;
    background-color: $color-white;
}


/** Header **/

.logo {
    display: flex;
    position: relative;
    max-width: 100%;
    padding: 16px;
    @include box-shadow(#{0 0 0.5rem rgb(0 0 0 / 25%)});
    .header-logo {
        width: 50%;
        padding-left: 27%;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    .header-main-title {
        font-weight: bold;
        margin: 5% 15% 0% 15%;
    }
    .header-sub-title{
        display: flex;
        text-align: center;
        color: $color-fas;
        margin: 5% 10% 5% 10%;
    }
}


/** Nav **/

nav {
    background-color: $color-grey;
    padding-bottom: 10%;
}

.location {
    background-color: $color-accent;
    padding-bottom: 5%;
        p {
            display: flex;
            justify-content: center;
            font-weight: bold;
        }
        .gps-logo i{
            margin-left: 30%;
            transform: translateY(25px);
        }
}

.explore-btn {
    display: flex;
    justify-content: center;
    @include explore-btn;
    @include box-shadow (#{4px 4px 10px rgb(0 0 0 / 25%)});
    span {
        color:$color-white;
    }
}

/** Fonctionnement **/

.fonctionnement-title {
    margin: 10% 0% 0% 5%;
}

.rond-logo {
    display: flex;
    position: absolute;
    background: $color-primary;
    border-radius: 100%;
    width: 25px;
    left: 25px;
    margin-top: 15px;
    span {
        font-weight: bold;
        color: $color-white;
        padding-left: 7px;
        margin: 2px 0px 2px 0px;
    }
}

.fonction-list .fas {
    display: flex;
    flex-flow: row;
    color: $color-fas;
    p {
        color: black;
        margin-left: 20px;
    }
}

.fa-mobile-alt {
    transform: translateX(8px);
}

.chose-btn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    @include fonctionnement-btn;
    .btn-content {
        max-width: 80%;
        font-weight: normal;
        font-size: 90%;
        margin: 20px 40px 20px 40px;
    }
}

/** Restaurants **/

#restaurants {
    display: flex;
    flex-flow: column;
    background-color: $color-restaurants;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    h2 {
        margin-bottom: 5%;
    }
}

.restaurant-box {
    background-color: $color-white;
    border-radius: 15px;
    margin-bottom: 5%;
    padding-bottom: 2%;
    @include rest-fav;
}

.restaurant-box-header {
    height: 200px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

.restaurant-box-header img.restaurant-picture {
    width: 100%;
    display: block;
}

.restaurant-content h3, p {
    margin-top: 2%;
    margin-left: 2%;
}

.new-badge {
    position: absolute;
    text-align: center;
    font-weight: 600;
    padding: 2px;
    background-color: #99E2D0;
    color: #488073;
    width: 21%;
    margin-left: 65%;
    border-radius: 2px;
    margin-top: 5%;
}

/** Footer **/

footer {
    background-color: $color-footer;
}

footer h1 {
    color: white;
    font-size: 20px;
    padding-left: 10%;
}

.footer-content i {
    color: white;
    padding-right: 3%;
}

.footer-content li {
    padding-left: 10%;
    padding-bottom: 2%;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-1 {
    margin-left: 7px;
}
